<strong><%= Comment.model_name.human %></strong>
<% comments = commentable.comments %>
<% if comments.any? %>
  <ul>
    <% comments.each do |comment| %>

        <p>
          <strong><%= t '.user_name' %></strong>
          <% if comment.name.present? %>
            <%= comment.name %>
          <% else %>
            <%= comment.user.email %>
          <% end %>
        </p>

        <p>
          <strong><%= t '.comment' %></strong>
          <%= comment.comment %>
        </p>

        <p>
          <strong><%= t '.date' %></strong>
          <%= l comment.created_at %>
        </p>
        <p>
          <%= button_to t('.destroy_comment'), polymorphic_url([commentable, comment]), method: :delete %>
        </p>
    <% end %>
  </ul>
<% else %>
  (<%= t('.no_comments') %>)
<% end %>
