 <strong><%= Comment.model_name.human %>:</strong>
  <% if comments.any? %>
    <ul>
      <% comments.each do |comment| %>
        <% if comment.persisted? %>
          <p>
            <strong><%= t'.user_name' %></strong>
            <%= comment.name %>
          </p>

          <p>
            <strong><%= t'.comment' %></strong>
            <%= comment.comment %>
          </p>

          <p>
            <strong><%= t'.date' %></strong>
            <%= comment.created_at %>
          </p>

          <%= button_to t('.destroy_comment'),polymorphic_url([commentable, comment]), method: :delete %>

        <% end %>
      <% end %>
    </ul>
  <% else %>
    (<%= t('.no_comments') %>)
  <% end %>
