 <strong><%= Comment.model_name.human %>:</strong>
  <% if comments.any? %>
    <ul>
      <% comments.each do |comment| %>
        <% if comment.persisted? %>
          <p>
            <strong>Name:</strong>
            <%= comment.name %>
          </p>

          <p>
            <strong>Comment:</strong>
            <%= comment.comment %>
          </p>

          <p>
            <strong>Date:</strong>
            <%= comment.created_at %>
          </p>

          <%= button_to "Destroy this comment",polymorphic_url([commentable, comment]), method: :delete %>

        <% end %>
      <% end %>
    </ul>
  <% else %>
    (<%= t('.no_comments') %>)
  <% end %>
