<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="users_index">
  <% @users.each do |user| %>
<table>
    <tr><%= "ID: #{user.id}" %></tr>
    <tr><%= "Email: #{user.email}" %></tr>
    <tr><%= "Post code: #{user.post_code}" %></tr>
    <tr><%= "Address: #{user.address}" %></tr>
    <tr><%= "Self introduction: #{user.self_introduction}" %></tr>
</table>
  <% end %>
</div>

<div>
  <%= paginate @users %>
</div>
