<h1> <%= "Profile" %></h1>

<div class="user_details">
<%= "ID: #{current_user.id}" %><br>
<%= "Email: #{current_user.email}" %><br>
<%= "Post code: #{current_user.post_code}" %><br>
<%= "Address: #{current_user.address}" %><br>
<%= "Self introduction: #{current_user.self_introduction}" %><br>
</div>
