<h1> <%= "プロフィール" %></h1>

<div class="user_details">
<%= "ID: #{current_user.id}" %><br>
<%= "Eメール: #{current_user.email}" %><br>
<%= "郵便番号: #{current_user.post_code}" %><br>
<%= "住所: #{current_user.address}" %><br>
<%= "自己紹介: #{current_user.self_introduction}" %><br>
</div>
