<p style="color: green"><%= notice %></p>

<h1><%= I18n.translate 'books' %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('show this book'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('new book'), new_book_path %>
