<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<div class="show-item">
  <%= render @book %>
</div>

<div>
<h2><%= t'.add_a_comment' %><h2>
<%= render 'comments/form', commentable: @book, comment: @comment %>

<h2><%= t'.comments' %></h2>
<%= render 'comments/comment', commentable: @book, comments: @comments %>
</div>
