<div id="<%= dom_id report %>">
  <p>
    <strong><%= t'.title' %></strong><br>
    <%= report.title %>
  </p>

  <p>
    <strong><%= t'.memo' %></strong><br>
    <%= report.memo %>
  </p>

  <p>
    <strong><%= t'.date' %></strong><br>
    <%= report.created_at %>
  </p>

</div>
