<p style="color: green"><%= notice %></p>

<h1><%= t'.reports' %></h1>

<div id="reports">
  <% @reports.each do |report| %>
    <%= render report %>
    <p>
      <%= link_to t('.details'), report %>
    </p>
  <% end %>
</div>

<%= link_to t('.new'), new_report_path %>
