<%= render @report %>

<div>

  <%= link_to t('views.common.title_edit', name: Report.model_name.human), edit_report_path(@report) %> |

  <%= link_to t('views.common.back', name: Report.model_name.human), reports_path %>

  <%= button_to t('views.common.destroy', name: Report.model_name.human), @report, method: :delete %>

  <%= render 'comments/form', commentable: @report, comment: @comment %>

  <%= render 'comments/comment', commentable: @report, comments: @comments %>

</div>
