<p style="color: green"><%= notice %></p>

<%= render @report %>

<div>
  <%# if current_user == @user %>
  <%= link_to "Edit this report", edit_report_path(@report) %> |
    <%# end %>
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form', commentable: @report, comment: @comment %>

  <h2>Comments</h2>
  <%= render 'comments/comment', commentable: @report, comments: @comments %>

</div>
