<h2> <%= resource_name.to_s.humanize %> プロフィール変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :'Eメール' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :'郵便番号' %><br />
    <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
  </div>

  <div class="field">
    <%= f.label :'住所' %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :'自己紹介' %><br />
    <%= f.text_field :self_introduction, autofocus: true, autocomplete: "self_introduction" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :'パスワード' %> <i>(変更がなければ空欄のままとしてください。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= "最小文字数 #{@minimum_password_length}" %> </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :'パスワード確認' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :'現在のパスワード' %> <i>(変更を認証するため現在のパスワード入力が必要です。)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>アカウントをキャンセルする</h3>

<div>キャンセルをご希望ですか? <%= button_to "アカウントをキャンセルします。", registration_path(resource_name), data: { confirm: "問題ありませんか?", turbo_confirm: "問題ありませんか?" }, method: :delete %></div>

<%= link_to "戻る", :back %>
